.presence-form {
  .btn-group {
    margin-bottom: .5rem;
    width: 100%;
  }

  label {
    &.btn {
      flex: 1;
      padding: .5rem;
    }
  }

  .checkbox-toggle.m-0 {
    .form-check {
      margin-bottom: .25rem;
      margin-top: .25rem;
    }
  }
}

.presence-dropdown {
  .dropdown-menu {
    min-width: 15rem;
  }
}

.presences {
  th {
    &.rotate {
      height: 140px;

      div {
        width: 20px;
      }
    }
  }
}
