<div class="container">
  <h1>Seizoenen</h1>

  <% @seasons.each do |season| %>
  <div>
    <%= link_to season.name, season, class: "#{"font-weight-bold" if season.active?}" %>
  </div>
  <% end %>
</div>
