<div class="container">
  <%= link_to new_season_path, class: "float-right", title: "Seizoen toevoegen" do %>
    <i class="fa fa-plus" aria-hidden="true"></i>
  <% end if policy(Season).create? %>

  <h1>Seizoenen</h1>

  <% @seasons.each do |season| %>
  <div>
    <%= link_to season.name, season, class: "#{"font-weight-bold" if season.active?}" %>
  </div>
  <% end %>
</div>
