<h1>Support</h1>

<p>Heb je een suggestie, een vraag of loop je tegen een probleem aan? Stuur een e-mail naar <a href="mailto:helpdesk@defrog.nl?subject=TeamPlan">helpdesk@defrog.nl</a> en we zullen zo spoedig mogelijk reageren.</p>

<p>Loopt je tegen een probleem aan, dan helpt het ons vaak heel goed als je een screenshot van de pagina bijvoegt in de e-mail.</p>
