.card-header,
.side-menu,
.sidebar,
.site-header,
.breadcrumb,
.app-footer {
  display: none;
}

.container-fluid,
.page-content,
.main .container-fluid {
  padding: 0;
}

.header-fixed .app-body,
.main {
  margin: 0 !important;
}

@page {
  max-height: 100%;
  max-width: 100%;
}
