.box-typical-header,
.section-header,
.side-menu,
.site-header,
[data-is-bullet-footer],
.profiler-results {
  display: none;
}

.container-fluid,
.page-content {
  padding: 0;
}

@page {
  max-height: 100%;
  max-width: 100%;
  size: A4 landscape;
}
