.badge {
  &.badge-one-number {
    min-width: 26px;
  }

  &.badge-two-numbers {
    min-width: 48px;
  }
}

.badge-secondary, .badge-success {
  color: white;
  font-weight: 500;
}

.badge-warning {
  color: $gray-800;
  font-weight: 500;
}
