.card {
  border-top: solid 4px $primary;
  border-bottom: solid 2px #d8e2e7;
}

.card-header {
  font-weight: 600;
}

.card-header-action {
  padding: 0 .5rem;
}

@include media-breakpoint-down(sm) {
  .card-header, .card-body {
    padding: .75rem;
  }

  .card {
    margin-bottom: 1rem;
  }
}

@include media-breakpoint-down(xs) {
  .card {
    margin-bottom: .75rem;
  }
}
