.devise {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  h1 {
    font-weight: 300;
    font-size: 1.875rem;
    margin: 0;
  }

  .club-logo, .app-logo {
    margin: .5rem .75rem;
  }

  .club-logo {
    max-height: 4rem;
    max-width: 4rem;
  }

  .app-logo {
    max-height: 2.5rem;
    max-width: 16rem;
  }
}
