// Force white text on these button colors
.btn-secondary, .btn-warning {
  color: white;
  font-weight: 400;
}

.btn + .btn {
  margin-left: 4px;
}

// Overwrite bootstrap_form
.rails-bootstrap-forms-error-summary {
  margin-top: inherit;
  margin-bottom: 0;
}

.form-check {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.custom-control-label {
  &::before {
    background-color: $gray-200;
    border: solid 1px $gray-300;
  }

  &::after {
    background-size: 75%;
  }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border-color: $blue;
}
