.navbar-brand {
  text-decoration: none !important;

  img.navbar-brand-full {
    margin: 0 .375rem;
    max-height: 2rem;
    max-width: 2rem;
  }

  h1.navbar-brand-full {
    img {
      max-height: 1.5rem;
      max-width: 8rem;
    }
  }

  img.navbar-brand-minimized {
    max-height: 2rem;
    max-width: 2rem;
  }

  h1 {
    margin: 0 .375rem;
    font-size: 20px;
    font-weight: 300;
    color: $dark;
  }
}

.site-header-search {
  height: 1.75rem;
  position: relative;
  padding: 0 2rem 0 0;
  border: solid 1px $gray-300;
  border-radius: 25rem;
  background: #fff;
  overflow: hidden;

  input[type="text"] {
    width: 4rem;
    padding: .15rem 0 0 .75rem;
    border: none;
    background: none;
    font-size: 0.875rem;
    font-weight: 600;
    color: $gray-700;

    &:focus {
      transition: all 0.2s ease-in-out;
      outline: none;
      width: 8rem;
    }
  }

  button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    height: 100%;
    line-height: 1.5rem;
    text-align: center;
    color: $gray-400;
    border: none;
    background: none;
  }
}

.app-header .navbar-nav {
  li {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-icon {
    padding-right: .3rem;
    color: $gray-500;
  }

  .nav-link.active .nav-icon {
      color: $blue;
  }
}
