.app-header {
  padding-right: .5rem;
}

@include media-breakpoint-down(xs) {
  .app-header {
    padding-right: .25rem;
    
    .navbar-brand {
      left: 2rem;
      margin-left: 0;

      h1 {
        visibility: hidden;
      }
    }
  }
}
