@include media-breakpoint-down(xs) {
  .tab-content {
    .tab-pane {
      padding: .5rem;
    }
  }
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs-scroll {
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
