.table {
  margin-bottom: 0;

  td, th {
    vertical-align: middle;
  }

  thead {
    background-color: rgba($black, .025);

    th {
      border-bottom-width: 1px;
    }
  }
}

tbody {
  tr.clickable {
    cursor: pointer;
    &:hover {
      background-color: #f6f8fa;
    }
  }
}

table.align-top {
  th, td {
    vertical-align: top;
  }
}

.table-xxs {
  td {
    height: 1.5rem;
    padding: 2px;

    &:first-child {
      padding-left: 1rem;
    }
    &:last-child {
      padding-right: 1rem;
    }
  }

  th {
    padding-left: 2px;
    padding-right: 2px;

    &:first-child {
      padding-left: 1rem;
    }
    &:last-child {
      padding-right: 1rem;
    }
  }
}

th {
  &.rotate {
    white-space: nowrap;

    > div {
      transform: translate(0, 0) rotate(-45deg);
      width: 30px;

      > span {
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;
      }
    }
  }
}

tr.b-t-0 {
  td {
    border-top: none;
  }
}

@include media-breakpoint-up(sm) {
  .card-body > table {
    td, th {
      &:first-child {
        padding-left: 1.25rem;
      }

      &:last-child {
        padding-right: 1.25rem;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .card-header {
    padding: .75rem;
  }
}
