.main .container-fluid {
  margin-top: .25rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.card {
  border-top: solid 4px $primary;
  border-bottom: solid 2px #d8e2e7;
}

.card-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.card-header-action {
  padding: 0 .5rem;
}

.badge-secondary, .badge-warning, .badge-success {
  color: white;
  // Slightly heavier font for low-contrast colors
  font-weight: 500;
}

.table {
  margin-bottom: 0;

  td, th {
    vertical-align: middle;
  }
}

.breadcrumb {
  .breadcrumb-item {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }

  .breadcrumb-menu {
    .btn {
      padding: .75rem;
    }
  }
}
