// Generate color classes
@each $current-color in $theme-colors {
  $i: index($theme-colors, $current-color);

  .color-#{nth($current-color, 1)} {
    color: nth($current-color, 2);
  }

  .background-color-#{nth($current-color, 1)} {
    background-color: nth($current-color, 2);
  }
}

.color-blue-grey {
  color: $gray-600;
}

.color-blue-grey-lighter {
  color: $gray-400;
}

.main .container-fluid {
  margin-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.card {
  border-top: solid 4px #00a8ff;
}

.card-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.card-header-action {
  padding: 0 .5rem;
}

.badge-secondary, .badge-warning, .badge-success {
  color: white;
  // Slightly heavier font for low-contrast colors
  font-weight: 500;
}

.table {
  margin-bottom: 0;

  td, th {
    vertical-align: middle;
  }
}
