@media (prefers-color-scheme: dark) {
  /* Overrides for Dark Mode. */
  body {
    color: $white;
    background: $gray-base;
  }

  a {
    color: $blue;
  }

  .app-header,
  .app-footer {
    color: white;
    background: $black;
    border-color: $gray-900;
  }

  .navbar-brand h1.navbar-brand-full img,
  .devise .app-logo,
  .app-header .navbar-toggler-icon {
    filter: invert(1);
  }

  .sidebar {
    background: $black;

    .nav-link.active {
      background: $gray-base;
    }
  }

  .navbar-nav .nav-link {
    color: $gray-300;
  }

  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: $white;
  }

  .navbar-nav .open > .nav-link,
  .navbar-nav .open > .nav-link:hover,
  .navbar-nav .open > .nav-link:focus,
  .navbar-nav .active > .nav-link,
  .navbar-nav .active > .nav-link:hover,
  .navbar-nav .active > .nav-link:focus,
  .navbar-nav .nav-link.open,
  .navbar-nav .nav-link.open:hover,
  .navbar-nav .nav-link.open:focus,
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.active:hover,
  .navbar-nav .nav-link.active:focus {
    color: $gray-200;
  }

  .card {
    background-color: $black;
    border-color: $gray-800;
    border-top-color: $blue;
  }

  .card-header {
    background-color: $gray-950;
    border-color: $gray-900;
  }

  .card-footer {
    border-top-color: $gray-900;
  }

  .tab-content {
    background-color: $black;
    border-color: $gray-800;
  }

  .nav-tabs {
    .nav-link.active {
      color: $white;
      background-color: $black;
      border-color: $gray-800;
      border-bottom-color: $black;

      &:focus {
        background-color: $black;
        border-color: $gray-800;
      }
    }

    .nav-link:hover,
    .nav-link:focus {
      border-color: $gray-800;
    }
  }

  .table {
    color: $white;
  }

  .table th,
  .table td,
  .table thead th {
    border-color: $gray-900;
  }

  .table-sticky-header thead {
    background-color: $black;
  }

  tbody tr.clickable:hover {
    background-color: $gray-950;
    color: $white;
  }

  .table-success,
  .table-success > th,
  .table-success > td {
    background-color: darken($green, 10%);
  }

  .table tbody + tbody {
    border-color: $gray-800;
  }

  .list-group-item {
    background-color: $black;
  }

  .list-group-item-action:hover,
  .list-group-item-action:focus {
    background-color: $gray-950;
  }

  .presences-dropdown {
    border-color: $gray-700 !important;
  }

  .page-link {
    background-color: $black;
    border-color: $gray-800;

    &:hover {
      background-color: $gray-950;
      border-color: $gray-700;
    }
  }

  .page-item.disabled .page-link {
    background-color: $black;
    border-color: $gray-800;
  }

  .form-control {
    color: $white;
    border-color: $gray-700;
    background-color: $gray-900;

    &:focus {
      color: $white;
      background-color: $gray-900;
    }
  }

  .input-group-text {
    color: $gray-400;
    background-color: $gray-950;
    border-color: $gray-700;
  }

  trix-toolbar {
    .trix-button {
      background: $gray-600 !important;
    }
  }
}
