// Place all the styles related to the admin/club_data/results_import controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
