- provide(:title, t('.forgot_your_password', default: 'Forgot your password?'))

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: 'form' }) do |f|
  = f.error_notification
  
  = f.input :email, autofocus: true, class: 'form-control', placeholder: User.human_attribute_name(:email), label: false
  .form-group
    = f.button :submit, t('.send_me_reset_password_instructions', default: 'Send me reset password instructions'), class: 'btn btn-primary'
    
    = render 'devise/shared/links'
