.alert {
  &.alert-notice,
  &.alert-success {
    background-color: $success;
    border-color: $success;
    color: $white;

    .alert-btns .btn:hover {
      color: $success !important;
    }
  }

  &.alert-info {
    background-color: $primary;
    border-color: $primary;
    color: $white;

    .alert-btns .btn:hover {
      color: $primary !important;
    }
  }

  &.alert-danger {
    background-color: $danger;
    border-color: $danger;
    color: $white;

    .alert-btns .btn:hover {
      color: $danger !important;
    }
  }

  &.alert-warning {
    background-color: $warning;
    border-color: $warning;
    color: darken($warning, 35%);

    .alert-btns .btn:hover {
      color: $warning !important;
    }
  }

  a,
  a:hover {
    color: $white;
    font-weight: bold;
  }

  // Icons voor alerts
  .fa-notice:before,
  .fa-success:before {
    content: '\f00c';
  }

  .fa-alert:before,
  .fa-danger:before {
    content: '\f00d';
  }
}
