.main .container-fluid {
  padding: 1.5rem;
  padding-top: 0;
}

@include media-breakpoint-down(sm) {
  .main .container-fluid {
    padding: 1rem;
    padding-top: 0;
  }
}

@include media-breakpoint-down(xs) {
  .main .container-fluid {
    padding: .5rem;
    padding-top: 0;
  }
}
