.app-header {
  padding-right: .5rem;
}

@include media-breakpoint-down(xs) {
  .app-header {
    padding-right: .25rem;

    .navbar-brand {
      left: 3rem;
      margin-left: 0;

      h1 {
        visibility: hidden;
      }
    }
  }
}

// .sidebar,
// .aside-menu,
.sidebar-nav,
.breadcrumb,
.app-header,
.app-footer,
.main {
  transition: none;
  // transition: margin-left 0.25s, margin-right 0.25s;
}
