<p>
  Hallo <%= @names %>,
</p>

<p>
  We hebben een evaluatie klaargezet voor <%= @team_evaluation.team.name %> en vragen je in te loggen en deze in te vullen.
</p>

<p>
  Als de evaluatie volledig is ingevuld vragen we je deze terug te sturen naar ESA door op de knop "Evaluatie afronden" te klikken.
</p>

<p>
  <%= link_to "Teamevaluatie #{@team_evaluation.team.name}", edit_team_evaluation_url(@team_evaluation) %>
</p>

<p>
  Als het goed is heb je eerder al een gegevens ontvangen van ESA om mee in te loggen. Zo niet, stuur een mail naar <%= mail_to "helpdesk@defrog.nl" %>.
</p>
