.member_allocations {
  .fa-arrow-circle-up {
    color: #46c35f;
  }

  .fa-arrow-circle-down {
    color: #F29820;
  }

  .comment {
    max-width: 200px;
  }
  .fa-info-circle {
    color: #00a8ff;
  }
}
