.actions {
  float: right;
  padding-right: 6px;
  padding-top: 6px;

  .fa {
    position: relative;
    left: 0;
    top: 0;
    padding: 6px;
  }
}

.todo {
  margin-bottom: .5rem;
  display: flex;

  .check {
    .far, .fa, .svg-inline--fa {
      color: $gray-500;
      margin: .2rem .75rem .2rem 1rem;

      &:hover {
        color: $blue;
      }
    }
  }
}
