.float-right
  - if policy(Team).create?
    = link_to new_year_group_team_path(@year_group), title: "Team toevoegen", class: "btn btn-secondary"
      i.fa.fa-plus
  - if policy(@year_group).update?
    = link_to edit_year_group_path(@year_group), title: "Jaargroep aanpassen", class: "btn btn-secondary"
      i.fa.fa-pencil
      
h1
  = @year_group.name
- @year_group.teams.asc.each do |team|
  div
    = link_to team.name, team
