.favorite {
  position: absolute;
  right: 16px;
  top: 5px;

  .favorable {
    color: #919fa9; // color-blue-grey-lighter
    opacity: .25;
    &.selected {
      color: #f29824;
      opacity: 1;
    }
  }
}
