.favorite {
  .favorable {
    color: #919fa9; // color-blue-grey-lighter
    opacity: .25;
    &.selected {
      color: #f29824;
      opacity: 1;
    }
  }
  &.top-right {
    position: absolute;
    right: 10px;
    top: 5px;
  }
}
