.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

.line-through {
  text-decoration: line-through;
}

.box-typical-footer {
  .pagination {
    margin: 0;

    a, span.current {
      padding: 4px;
    }
  }
}

.header-buttons {
  float: right;
}

.datepicker{
  z-index: 100 !important;
}

.fa {
  &.red {
    color: #da211d;
  }
}
