.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

.line-through {
  text-decoration: line-through;
}

.box-typical-footer {
  .pagination {
    margin: 0;

    a, span.current {
      padding: 4px;
    }
  }
}

.header-buttons {
  float: right;
}

.datepicker{
  z-index: 100 !important;
}

.fa {
  &.red {
    color: #da211d;
    color: #fa424a;
  }
  &.green {
    color: #46c35f;
  }
  &.grey {
    color: #ccc;
  }
}

.opacity-5 {
  opacity: .5;
  transition: all .2s ease-in-out;

  &:hover {
    opacity: 1;
    transition: all .2s ease-in-out;
  }
}

table.align-top th, table.align-top td {
  vertical-align: top;
}

.table-xxs {
  td {
    height: 25px;
    padding: 2px;

    &:first-child {
      padding-left: 15px;
    }
    &:last-child {
      padding-right: 15px;
    }
  }

  th {
    padding-left: 2px;
    padding-right: 2px;

    &:first-child {
      padding-left: 15px;
    }
    &:last-child {
      padding-right: 15px;
    }
  }
}

th {
  &.rotate {
    white-space: nowrap;

    > div {
      transform: translate(0, 0) rotate(-45deg);
      width: 30px;

      > span {
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;
      }
    }
  }
}

.tabs-section-nav {
  &.tabs-section-nav-inline {
    .nav-link.active {
      border-bottom: solid 3px #00a8ff;
    }
  }
}
