.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

.line-through {
  text-decoration: line-through;
}

b,
strong,
.b,
.strong,
.table thead th {
  font-weight: 600;
}

.datepicker{
  z-index: 100 !important;
}

.opacity-5 {
  opacity: .5;
  transition: all .2s ease-in-out;

  &:hover {
    opacity: 1;
    transition: all .2s ease-in-out;
  }
}

@media (min-width: 576px) {
  @for $i from 1 through 20 {
    .width-sm-#{$i * 5} {
      width: 5% * $i;
    }
  }
}
@for $i from 1 through 20 {
  .width-#{$i * 5} {
    width: 5% * $i;
  }
}

.w-1 {
  width: 1px;
}
.w-44 {
  width: 44px;
}

// Extra alert CSS to support Devise
.alert-alert {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;

  hr {
    border-top-color: #e4b9b9;
  }

  .alert-link {
    color: #843534;
  }
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;

  hr {
    border-top-color: #c1e2b3;
  }

  .alert-link {
    color: #2b542c;
  }
}

.alert {
  &.alert-notice {
    &.alert-fill {
      background-color: #46c35f;

      .alert-btns .btn:hover {
        color: #46c35f !important;
      }
    }
  }
  &.alert-fill {
    a {
      color: white;
      font-weight: bold;
    }
  }
}

// Icons voor alerts
// fa-check

.fa-notice:before,
.fa-success:before {
  content: "\f00c";
}
// fa-info-circle
// .fa-info:before {
//   content: "\f05a";
// }
// fa-times
.fa-alert:before,
.fa-danger:before {
  content: "\f00d";
}

// Generic styles

.bootstrap-table .table a, .fixed-table-body .table a, .table a {
  border-bottom: none;
}

a:hover, a:hover:hover {
  text-decoration: underline;

  &.nav-link {
    text-decoration: none;
  }
}
