.match-row {
  .match-row-header {
    display: flex;
    justify-content: space-between;

    .match-datetime,
    .match-result,
    .match-type {
      flex-grow: 1;
      flex-basis: 80px;
    }
  }
  .match-teams {
    display: flex;
    justify-content: center;

    .match-hometeam,
    .match-awayteam {
      flex-grow: 1;
      flex-basis: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .match-separator {
      flex-grow: 0;
      flex-basis: 12px;
    }
  }
}
