.member_photo_thumbnail {
  max-width: 50px;
  max-height: 50px;
  border-radius: $border-radius;

  &.placeholder {
    padding: 8px;
  }
}

.member_photo {
  width: 200px;

  img {
    border-radius: $border-radius;
    width: 200px;
  }

  @include media-breakpoint-down(xs) {
    width: 100px;

    img {
      width: 100px;
    }
  }
}
