.evaluation {
  th.rotate {
    height: 140px;
    white-space: nowrap;

    > div {
      transform:
        translate(0, 0)
        rotate(-45deg);
      width: 30px;

      > span {
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;
      }
    }
  }


  select.evaluation-rating {
    max-width: 60px;
    &.custom-select {
      padding: 0.375rem;
    }
  }

  td.field-positions {
    min-width: 160px;
    max-width: 260px;
  }

  td.member-name, td.remark {
    min-width: 160px;
  }

  div.evaluation-rating {
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0;
    padding-right: 0;
  }
}
