.presence-form {
  .btn-group {
    width: 100%;
    margin-bottom: .5rem;
  }
  label.btn {
    flex: 1;
    padding: .5rem;
  }
}

.presences-dropdown {
  border: solid 1px #d8e2e7;
  border-radius: 6px;
  float: right;
  padding: 10px 16px;
  max-width: 300px;
}

table.presences {
  th {
    &.rotate {
      height: 70px;

      div {
        width: 15px;
      }
    }
  }
}
