.simple-calendar {
  .day {
    vertical-align: top;
    padding: 2px 5px;

    hr {
      margin: .5em 0;
    }

    .event {
      background: #b0e4fe;
      padding: 3px 5px;
      border-radius: 4px;
      margin-bottom: 3px;

      a {
        color: black;
      }

      .time {
        font-weight: 600;
      }
    }
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: #f6f8fa;
  }

  .next-month {
    background: #f6f8fa;
  }

  .current-month {}

  .has-events {}

  .calendar-heading {
    text-align: center;

    .calendar-title {
      padding: 1rem 2rem;
    }
  }

  thead {
    th {
      text-align: center;
      text-transform: uppercase;
      background: white;
      font-size: .8rem;
    }
  }
}
