.evaluation {
  @each $color, $value in $theme-colors {
    .select-#{$color} {
      background-color: $value;
      color: white;
      font-weight: 400;
    }
  }

  div {
    &.form-control-error {
      background-color: #fff6f6;
      border: solid 1px #fa424a;
      border-radius: 4px;
      color: #fa424a !important;
    }
  }

  th {
    &.rotate {
      height: 140px;
    }
  }

  td {
    &.field-positions {
      max-width: 220px;
      min-width: 160px;
    }

    &.member-name,
    &.remark {
      min-width: 160px;
    }

    &.prefered-foot {
      width: 100px;
    }

    &.advise-next-season {
      width: 60px;
    }

    &.evaluation-rating {
      width: 60px;
    }
  }

  div.evaluation-rating {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60px;
  }

  .select2-container--bootstrap {
    .select2-selection--multiple {
      .select2-selection__choice {
        margin-bottom: 2px;
      }

      .select2-selection__choice__remove {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }
    }
  }
}
