.evaluation {
  select {
    &.field_positions {
      display: none;
    }
    &.custom-select {
      // padding: 0.375rem 1.5rem 0.375rem 0.5rem;
      padding: 0.375rem;
      background-image: none;
    }
  }


  .select2-container--default .select2-selection {
    background-color: inherit;
    border-width: 0;
  }
  .select2-container--default.select2-container--open {
    &.select2-container--below .select2-selection {
      border-bottom-width: 1px;
    }

    &.select2-container--above .select2-selection {
      border-top-width: 1px;
    }
  }

  div.form-control-error {
    background-color: #fff6f6;
    border: solid 1px #fa424a;
    border-radius: 4px;
    color: #fa424a !important;
  }

  .table-xxs {
    td {
      padding: 2px 2px;
      &:first-child {
        padding-left: 4px;
      }
      &:last-child {
        padding-right: 4px;
      }
    }
  }
}
