.site-header {
  position: relative;
  top: auto;
  left: auto;
  padding: 8px 0;
  height: 58px;

  .site-logo {
    margin-right: 10px;

    img {
      height: 40px;
      top: 0;
      padding-right: 10px;
    }
  }

  h1 {
    color: #343434;
    float: left;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
  }

  .hamburger {
    margin: 0 12px 0 0;
  }

  .site-header-content {
    margin-left: -290px;
    width: 75%;

    .site-header-content-in {
      margin-left: 290px;
    }
  }

  .dropdown {
    .dropdown-item {
      .fa {
        width: 22px;
        text-align: center;
      }
    }
    &.dropdown-right {
      float: right;
    }
    &.dropdown-typical a.dropdown-toggle:after {
      top: inherit;
    }
  }
}
@media (max-width: 576px) {
  .site-header {
    .site-header-content {
      margin-left: -180px;

      .site-header-content-in {
        margin-left: 180px;
      }
    }

    .site-header-search-container {
      width: 100px;
    }
  }
}

@media (max-width: 767px) {
  .site-header {
    h1 {
      font-size: 1.2rem;
    }

    .site-logo {
      img {
        height: auto;
        width: 48px;
        top: 2px;
      }
    }
  }
}

@media (max-width: 1056px) {
  .site-header {
    .site-header-collapsed .dropdown.dropdown-right {
      float: none;
      margin: 0;
      zoom: 1;
    }
  }
}

.page-content {
  padding: 24px 15px 10px;

  ol {
    margin-bottom: 1rem;
    padding-left: 2rem;
  }

  ul {
    list-style: inherit;
    margin-bottom: 1rem;
    padding-left: 2rem;

    &.nav,
    &.side-menu-list {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
    }
  }

  nav {
    ul {
      padding-left: 0;
    }
  }
}

.side-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0;
  padding-top: 58px;
}

// Highlight navigation
.side-menu-list .active {
  background-color: #f6f8fa;

  .lbl {
    color: #343434;
  }
}

.side-menu-list, .side-menu {
  a:hover {
    text-decoration: none;
  }
}

.comment-row-item {
  &.no-photo {
    padding-left: 15px;
  }

  p {
    margin-bottom: 1rem;
  }
}

.comment {
  &.chat-message {
    min-height: 40px;
    padding-top: 0;
    padding-bottom: 0;

    .chat-message-photo {
      top: 4px;
    }
  }
}

.badge {
  &.badge-one-number {
    min-width: 26px;
  }

  &.badge-two-numbers {
    min-width: 48px;
  }
}

.sign-box {
  max-width: 420px;

  .sign-avatar {
    &.sign-logo {
      img {
        border-radius: 0;
      }
    }
  }

  a:hover,
  a:hover:hover {
    text-decoration: none;
  }
}

.devise {
  .alert {
    display: inline-block;
  }
}

.show-hide-sidebar {
  float: left;
  margin: 0 12px 0 0;
}

@media (max-width: 576px) {
  h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 1056px) {
  body {
    &.sidebar-hidden {
      .page-content {
        padding-left: 0;
      }
    }
  }
}

abbr[title] {
  border: 0;
  text-decoration: none;
}

// th {
//   .action-btn {
//     color: #6c7a86;
//     padding: 8px;
//   }
// }

.checkbox,
.checkbox-bird,
.checkbox-detailed,
.checkbox-slide,
.checkbox-toggle,
.radio,
.form-check {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding-left: 0;
}

.form-check-inline .form-check-input {
  position: absolute;
}

label.required:after {
  content:" *";
}

.form-inline {
  .form-check-label {
    padding-left: 24px;
    padding-right: 20px;
  }
}

trix-toolbar {
  .button_group {
    border-color: #d6e2e8;

    button:not(:first-child),
    input[type=button]:not(:first-child) {
      border-color: #d6e2e8;
    }

    button,
    input[type=button] {
      border-bottom: none;
    }
  }
}

.bootstrap-table .table a,
.fixed-table-body .table a,
.table a {
  top: inherit;
}

@media (max-width: 576px) {
  .dropdown.dropdown-typical a.dropdown-toggle {
    padding-right: 10px;
    padding-left: 0;
  }
}

.popover {
  font-family: inherit;
}

.nav.nav-pills .nav-link {
  border-radius: 5px;
}

.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
  background-color: inherit;
}

.dropdown-toggle {
  a {
    i {
      display: inline-block;
      width: 1rem;
      height: 1rem;
    }
  }
}

.tabs-section-nav {
  &.tabs-section-nav-inline {
    .nav-link.active {
      border-bottom: solid 3px #00a8ff;
    }
  }
}

.top-nav {
  margin-bottom: 10px;
  background-color: #f6f8fa;
  padding-top: 4px;

  ul.nav.nav-tabs {
    padding-left: 4px;
    .nav-link {
      color: #8b9295;
      &.active {
        color: #495057;
      }
    }
  }

  li.nav-item {
    min-height: 40px;
    min-width: 50px;
  }
}

.sign-box .list-inline {
  text-align: center;

  li:not(:first-child) a {
    padding-left: 5px;
  }

  li + li:before {
    content: "•";
  }
}

.field_with_errors,
.has-error {
  color: #a94543;
}

.field_with_errors input,
.has-error input,
.has-error textarea {
  border-color: #a94543;
}

// Correct spacing for inline radio buttons
.form-group span.radio {
  margin: 0 4px;

  label input {
    margin-right: 4px;
  }
}

.form-control:focus {
  box-shadow: 0px 0px 4px #00a8ff
}
