.actions {
  float: right;
  padding-right: 6px;
  padding-top: 6px;

  .fa {
    position: relative;
    left: 0;
    top: 0;
    padding: 6px;
  }
}

.todo {
  .chat-message-photo {
    .fa, .svg-inline--fa {
      color: #919fa9;
      font-size: 1.0625rem;
      margin: 2px 15px;

      &:hover {
        // background-color: #ecf2f5;
        color: #0082c6;
      }
    }
  }
  &.comment {
    &.chat-message {
      padding-bottom: 11px;
      padding-right: 16px;

      .chat-message-photo {
        top: 0;
      }

      .chat-message-header {
      }
      .chat-message-txt {
        a {
          color: #919fa9;
        }
      }
    }
  }
}
