@include media-breakpoint-up(md) {
  @for $i from 1 through 20 {
    .width-md-#{$i * 5} {
      width: 5% * $i;
    }
  }
}

@include media-breakpoint-up(sm) {
  @for $i from 1 through 20 {
    .width-sm-#{$i * 5} {
      width: 5% * $i;
    }
  }
}

@for $i from 1 through 20 {
  .width-#{$i * 5} {
    width: 5% * $i;
  }
}

.w-1 {
  width: 1px;
}
.w-44 {
  width: 44px;
}
