.page-content {
  ol {
    margin-bottom: 1rem;
    padding-left: 2rem;
  }

  ul {
    list-style: inherit;
    margin-bottom: 1rem;
    padding-left: 2rem;

    &.nav,
    &.side-menu-list {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
    }
  }

  nav {
    ul {
      padding-left: 0;
    }
  }
}

.comment-row-item {
  &.no-photo {
    padding-left: 15px;
  }

  p {
    margin-bottom: 1rem;
  }
}

.comment {
  &.chat-message {
    min-height: 40px;
    padding-top: 0;
    padding-bottom: 0;

    .chat-message-photo {
      top: 4px;
    }
  }
}

.label {
  &.label-one-number {
    min-width: 26px;
  }

  &.label-two-numbers {
    min-width: 48px;
  }
}
// .sign-avatar.sign-logo

.sign-box {
  max-width: 420px;

  .sign-avatar {
    &.sign-logo {
      img {
        border-radius: 0;
      }
    }
  }

  a:hover,
  a:hover:hover {
    text-decoration: none;
  }
}

.devise {
  .alert {
    display: inline-block;
  }
}

.show-hide-sidebar {
  float: left;
  margin: 0 12px 0 0;
}

.site-header {
  h1 {
    color: #adb7be;
    float: left;
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 2.5rem;
  }

  .hamburger {
    margin: 0 12px 0 0;
  }

  .site-header-content {
    margin-left: -290px;

    .site-header-content-in {
      margin-left: 290px;
    }

    .site-header-collapsed {
      margin-right: -70px;

      .site-header-collapsed-in {
        margin-right: 70px;
      }
    }
  }
}

@media (max-width: 544px) {
  .site-header {
    .site-header-content {
      margin-left: -180px;

      .site-header-content-in {
        margin-left: 180px;
      }
    }
  }
}

abbr[title] {
  border: 0;
  text-decoration: none;
}
@media (max-width: 767px) {
  .site-header {
    h1 {
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 1056px) {
  body {
    &.sidebar-hidden {
      .page-content {
        padding-left: 0;
      }
    }
  }
}

.box-typical {
  .box-typical-header {
    .tbl-cell.tbl-cell-title {
      padding-right: 15px;
    }
  }
}

th {
  .action-btn {
    color: #6c7a86;
    padding: 8px;
  }
}

.checkbox,
.checkbox-bird,
.checkbox-detailed,
.checkbox-slide,
.checkbox-toggle,
.radio {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.form-inline {
  .form-check-label {
    padding-left: 24px;
    padding-right: 20px;
  }
}

trix-toolbar {
  .button_group {
    border-color: #d6e2e8;

    button:not(:first-child),
    input[type=button]:not(:first-child) {
      border-color: #d6e2e8;
    }

    button,
    input[type=button] {
      border-bottom: none;
    }
  }
}

.tabs-section-nav {
  &.tabs-width-relative {
    border-top: none;

    ul.nav {
      display: block;
    }

    li.nav-item {
      display: inline-block;
      border-top: solid 1px #d8e2e7;
    }

    .nav-link-in {
      padding: 10px 24px;
    }
  }
}

.table a,
.bootstrap-table .table a,
.fixed-table-body .table a {
  top: inherit;
}

.b, .strong {
  font-weight: 600;
}
