.breadcrumb {
  padding-bottom: .75rem;
  padding-top: .75rem;

  .breadcrumb-menu {
    .btn {
      padding: .75rem;
    }
  }
}

@include media-breakpoint-down(xs) {
  .breadcrumb {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '›';
}
