- if flash.present?
  - flash.each do |message_type, messages|
    - [messages].flatten.each do |message|
      script
        | $(function() {
            PNotify.alert({
              type: '#{pnotify_type(message_type)}',
              text: '#{message}',
              delay: #{pnotify_duration(message_type)}
            })
          })
