- if flash.present?
  - flash.each do |message_type, messages|
    - [messages].flatten.each do |message|
      div [data={ controller: "pnotify-message",
                  "pnotify-message-type": pnotify_type(message_type),
                  "pnotify-message-text": message,
                  "pnotify-message-delay": pnotify_duration(message_type) }]
