/ footer#footer
/   .copyright
/     .container
/       p.text-center
/         | Copyright © #{Time.now.year}
/         a> href="https://www.defrog.nl/"
/         | Defrog. Alle rechten voorbehouden 
