<% content_for :content do %>
<div class="row justify-content-center">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-block">
        <%= yield %>
      </div>
    </div>
  </div>
  </div>
</div>
<% end %>
<%= render template: "layouts/application" %>
